<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util  
        http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="true">

	<description>Shiro Security Configuration</description>


<!-- 	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager"> -->
<!-- 		<property name="realm" ref="shiroDbRealm" /> -->
<!-- 		<property name="cacheManager" ref="shiroEhcacheManager" /> -->
<!-- 	</bean> -->
<!-- cas -->

    <bean id="casFilter" class="org.apache.shiro.cas.CasFilter">  
        <!-- 配置验证错误时的失败页面  -->  
        <property name="failureUrl" value="/common/error.jsp"/>  
    </bean>  
      
    <bean id="casRealm" class="cc.landking.web.core.service.CasRealm" 
    	depends-on="userDao">  
        <property name="defaultRoles" value="user"/>       
        <property name="casServerUrlPrefix" value="${sso.casServerUrlPrefix}"/>  
        <!-- 客户端的回调地址设置，必须和下面的shiro-cas过滤器拦截的地址一致 -->  
        <property name="casService" value="${sso.casService}"/>  
		<property name="userService" ref="userService"/>
		
    </bean>  
      
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">      
<!--         <property name="realm" ref="casRealm"/>   -->
        <property name="realm" ref="shiroDbRealm"/>  
        <property name="subjectFactory" ref="casSubjectFactory"/>  
    </bean>  
      <!-- cas end -->
    <!-- 如果要实现cas的remember me的功能，需要用到下面这个bean，并设置到securityManager的subjectFactory中 -->  
    <bean id="casSubjectFactory" class="org.apache.shiro.cas.CasSubjectFactory"/>  
  
	<!-- all userService dependency bean fill on depends-on -->
	<bean id="shiroDbRealm" class="cc.landking.web.core.service.ShiroDbRealm" 
	depends-on="userDao">
		<property name="userService" ref="userService"/>
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login" />
<!-- 		<property name="loginUrl" value="${sso.loginUrl}" />   -->
		<property name="successUrl" value="/" />
		<property name="filters">
           <map>
              <entry key="casFilter" value-ref="casFilter"/>  
              <entry key="rolesOrFilter" value-ref="rolesOrFilter"/>
              <entry key="fileAuthFilter" value-ref="fileAuthFilter"/>
           </map>
       </property>
<!--        <property name="filterChainDefinitions" value="#{shiroRoleService.loadFilterChainDefinitions()}"/> -->
		<property name="filterChainDefinitions">
			<value>
				/shiro-cas = casFilter  
				/login = authc
				/logout = logout
				/static/** = anon
				/401 = anon
				/404 = anon
				/500 = anon
				/ = anon
				/register/** = anon
				/core/user/** = authc,roles[admin]
				/core/authorization/** = rolesOrFilter[authorize,admin]
				/rpc/rest/** = perms[rpc:invoke], authc
				/file/** = rolesOrFilter[user,fileadmin],fileAuthFilter
			</value>
		</property>
	</bean>
	<bean id="rolesOrFilter" class="cc.landking.web.core.service.RolesOrFilter"/>

	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache-shiro.xml"/>
	</bean>
	
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
		<bean id="fileAuthFilter" class="cc.landking.web.file.service.FileAuthFilter"/>
	
</beans>